<html>
<head>
<title></title>
</head>
<body bgcolor="#0">
<center>
<FONT size="7" color="red">あなたは死にました</FONT><br/>
<FONT size="5" color="white" >点数</FONT><br/>
<IMG SRC="../images/lgi01a201501130600.jpg" width="600" height="600">
</center>
<input type='submit' value='戻る' style="width:100px;height:200px">
</body>
</html>
