<!DOCTYPE html>
<html lang="ja"> 
  <head>
    <meta charset="UTF-8">
    <title>play</title>
  </head>
  
  <body>
  <center>
  <h1>このゲームのタイトル</h1>
  <form action="" method="POST">
    <table cellpadding="0" cellspacing="30"><tbody>
    <tr>
    <td>
    <input type="image" src="../images/tro02.jpg" alt="トロッコ" heigth=200 width=200 >
    </td>
    <td>
    <input type="image" src="../images/Pickaxe.jpg" alt="ピッケル" height=200 width=200>
    </td>
    <td>
    <input type="image" src="../images/imgres.jpg" alt="ダイナマイト" height=200 width=200>
    </td>
    </tr>
    </tbody></table>
  </form>
  <p>ここら辺に点数</p>
  </center>
  <hr>
  <h3>説明</h3>
  <p>このゲームの説明を書いてね。</p>
  </body>
</html>
