<!DOCTYPE html>
<html lang="ja"> 
  <head>
    <meta charset="UTF-8">
    <title>play</title>
  </head>
  
  <body>
  <h1>このゲームのタイトル</h1>
  
  <form action="" method="POST">
    <table cellpadding="0" cellspacing="30"><tbody>
    <tr>
    <td>
    <input type="image" src="" alt="A">
    </td>
    <td>
    <input type="image" src="" alt="B">
    </td>
    <td>
    <input type="image" src="" alt="C">
    </td>
    </tr>
    </tbody></table>
  <p>ここら辺に点数</p>
  <hr>
  <h3>説明</h3>
  <p>このゲームの説明を書いてね。</p>
  </body>
</html>